<footer>

  <p class="social-title">
    <a href="https://maps.google.com/?cid=10136163593244475710" target="_blank" rel="noopener noreferrer">
      Condividi la tua esperienza
    </a>
  </p>

  <div class="socials">

    <a href="https://www.instagram.com/barcentrale_illy?igsi=MXU2cGd4b2JwMm93Mw==" target="_blank" rel="noopener noreferrer" style="display:inline-flex;align-items:center;gap:12px;">
      Instagram
      <img src="assets/ig_logo.webp" alt="Logo Instagram" class="instagram-footer-logo">
    </a>

  </div>

  <p class="address">
    Piazza Angelo Borroni 20
  </p>

</footer>
